#center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1, h2 {
  color: #0BA2A7;
}
h1:hover, h2:hover {
  color: #AAC63A;
}
.grid {
  background-color: white;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
}
.grid-item {
  background-color: #EFA72D;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  text-align: center;
}
.grid-item:hover {
  background-color: #BF262C;
}
