<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to STEMania Apps</title>
		<link rel = "stylesheet"  type = "text/css"  href = "stemania.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<header>
		<img src="STEMania logo.png"  id="center_image"><br><br>
	</header>
	<body>
		<h2>Select the elements that you want to include in your form</h2>
		<div class="grid">
			<div class="grid-item">First Name</div>
			<div class="grid-item">Last Name</div>
			<div class="grid-item">Phone Number</div>
		</div><br>
		<a href = "index.html">Return to the main menu</a>
	</body>
</html>