<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to STEMania Apps</title>
		<link rel = "stylesheet"  type = "text/css"  href = "stemania.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<header>
		<img src="STEMania logo.png"  id="center_image"><br><br>
	</header>
	<body>
		<h2>Enter the name of the person you are looking for</h2>
		<form>
			<div>
				<input name="fname" type="text" placeholder="First Name">
				<input name="lname" type="text" placeholder="Last Name">
			</div>
		</form>
		<a href = "index.html">Return to the main menu</a>
	</body>
</html>